/* Header */
#head-container {
  max-width: 100%;
  justify-content: flex-end;
}
.sidemenu {
  max-width: 5vw;
  padding-top: 100vw;
  padding: 5px;
}

#image-container {
  padding-left: 20%;
}

/* searchbutton */
#searchfield {
  position: absolute;
  top: 4%;
  left: 70%;
  transform: translate(-40%, 50%);
}

#main-logo {
  width: 50%;
  padding-top: 20px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: none;
}

#image-container {
  padding: none;
}

#image-container #flower-pic {
  padding-top: 50px;
  padding-right: 120px;
  max-width: 120px;
}

#image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#head-container {
  max-width: 100vw;
  display: flex;
  overflow-x: auto;
  margin: 0%;
}
.sidemenu {
  flex-direction: row;
  max-width: 5vw;
  padding: 5px;
}

.sidemenu-pic {
  width: 30px;
}

/* SEARCHFIELD */
/* Styling for the search container */
.search-container {
  display: flex;
  align-items: center;
  height: 10px;
  padding-top: 15px;
  padding-right: 10px;
}

/* Styling for the search bar form */
.search-bar {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 100px;
  overflow: hidden;
  padding-top: 0px;
}

/* Styling for the search input */
.search-bar input[type="text"] {
  border: none;
  padding: 10px;
  width: 100px;
  outline: none;
}

/* Styling for the search button */
.search-bar button {
  background-color: white;
  color: white;
  border: 1px;
}

/* Style the search icon inside the button */
#searchicon {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

/* Styling for gap between serchfield and rest of icons */
.sidemenu {
  margin-left: 10px;
}

/* RÖR EJJJJJJ */
#firstvideo {
  width: 100%;
  overflow: hidden;
}

#video {
  display: flex;
}

.sidemenu img {
  max-width: 4vw;
}

.navlist {
  display: flex;
  list-style: none;
  padding-left: 0%;
  padding-top: none;
}

.navlist li {
  margin-right: 10%;
}

.navlist li a {
  text-decoration: none;
  color: black;
}

/*border - fix it on the other pages but stay on the last ones*/
.navbar{
    border-bottom: 2px solid black;
}
/**/

#front-accessories-container {
  width: 100%;
  text-align: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-size: cover;
  position: relative;
}

#front-accessories {
  opacity: 65%;
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 16vw;
  left: 25vw;
  color: white;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.sortandfilter {
  display: flex;
}

#headnews {
  font-size: x-large;
  padding-left: 1%;
  padding-top: 5%;
  font-weight: bold;
}

/* flexbox for horizontal scrolling on news */
#news-container {
  display: flex;
  overflow-x: auto;
}
.news-picture {
  flex-direction: row;
  width: fit-content;
}
.news-picture img {
  max-width: 30vw;
  height: 40vw;
  padding: 10px;
}

/* Main picture for latest news */
#main-news-pic {
  width: 100%;
}

/* flexbox for horizontal scrolling on categories */
#picture-container {
  display: flex;
  overflow-x: auto;
}
.picture {
  flex: 0 0 auto;
  width: fit-content;
}
.picture img {
  width: 40vw;
  height: auto;
}

/* category-page */

/* product page*/

  /*scroll ring pictures*/
  .product-container{
    float: right;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 50%;
    margin-right: 3rem;
  }

  .product-container img{
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  
  /*complete the look*/
  .inspo-container{
    margin-top: 40rem;
    display: flex;
    overflow-x: auto;
  }

  .inspo-container img{
    flex-direction: row;
    max-width:30vw;
    height: 40vw;
    padding: 10px;
  }
   #complete-look{
    margin-top: 100%;
   }
   
   .ring-descriptions{
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    width: 30%;
   }

   #ring-size{
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    width: 70%;
   }

   #BUY{
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: bold;
   }

   .border-wrap{
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    width: 70%;
    margin-left: 2rem;
    margin-right: 2rem;
   }
   

   #heart-productpage{
    max-width: 5vw;
    padding: 5px;
    border: 2px solid black;
    padding: 5px;
    display: inline-block;
    width: 30%;
    height: 15%;
   }

   footer{
    background-color: gray;
   }

   .description-list li{
    display: inline-block;
    margin-left: 1rem;
   }

   #product-description{
    color: black;
   }

   #materials-care{
    color: black;
    text-decoration: none;
   }

   #delivery-returns{
    color: black;
    text-decoration: none;
   }
