
/* Headbar */
#main-logo{
    width:50%;
    align-items: center;
    padding-right: 20vw;
    padding-top: 20px;    
}

#head-container{
    display: flex;
    overflow-x: auto;
    padding-left:40%
    
}
.sidemenu{
    flex-direction: ;
    max-width: 5vw;
    padding: 5px;    
}

/* RÖR EJJJJJJ */
#firstvideo{
    width: 100%;
    overflow: hidden;
}

#video{
    display: flex;
}

.sidemenu img{
    max-width: 4vw;
}
/* searchbutton */
#searchfield{
  display: ;
  position: absolute;
  top: 4%;
  left: 70%;
  transform: translate(-40%, 50%);
    
}

.navlist{
    display: flex;
    list-style: none;
    padding-left: 0%;
    padding-top: none;
}

.navlist li {
    margin-right: 10%;
}

.navlist li a {
    text-decoration: none;
    color: black;
}

/*border - fix it on the other pages but stay on the last ones*/
.navbar{
    border-bottom: 2px solid black;
}
/**/

#firstpic{
    width: 100%;
}

/* flexbox for horizontal scrolling on news */
#news-container{
    display: flex;
    overflow-x: auto;  
}
.news-picture{
    flex-direction: row;
    width: fit-content;   
}
.news-picture img {
    max-width:30vw;
    height: 40vw;
    padding: 10px;
}

/* Main picture for latest news */
#main-news-pic{
    width: 100%;
}

/* flexbox for horizontal scrolling on categories */
#picture-container {
    display: flex;
    overflow-x: auto;
}
.picture  {
    flex: 0 0 auto;
    width: fit-content;
}
.picture img {
    width: 40vw;
    height: auto;
}

/* category-page */

/* product page*/

  /*scroll ring pictures*/
  .product-container{
    float: right;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 50%;
  }

  .product-container img{
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  
  /*complete the look*/
  .inspo-container{
    margin-top: 40rem;
    display: flex;
    overflow-x: auto;
  }

  .inspo-container img{
    flex-direction: row;
    max-width:30vw;
    height: 40vw;
    padding: 10px;
  }
   #complete-look{
    margin-top: 100%;
   }
   
   .ring-descriptions{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
   }

   #ring-size{
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
   }

   #BUY{
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    color: black;
    text-decoration: none;
   }

   #heart-productpage{
    max-width: 5vw;
    padding: 5px;
   }