body {
  margin: 0;
  display: grid;
}

/* Headbar */
HEAD #main-logo {
  width: 50%;
  align-items: center;
  padding-right: 20vw;
  padding-top: 20px;
}

#head-container {
  max-width: 100%;
  justify-content: flex-end;
}
.sidemenu {
  max-width: 5vw;
  padding-top: 100vw;
  padding: 5px;
}

#image-container {
  padding-left: 20%;
}

/* SEARCHFIELD */
/* Styling for the search container */
.search-container {
  display: flex;
  align-items: center;
  height: 10px;
  padding-top: 15px;
  padding-right: 10px;
}

/* Styling for the search bar form */
.search-bar { 
  display: flex;
  border: 2px solid #ccc;
  border-radius: 100px;
  overflow: hidden;
  padding-top: 0px;
}

/* Styling for the search input */
.search-bar input[type="text"] {
  border: none;
  padding: 10px;
  width: 100px;
  outline: none;
}

/* Styling for the search button */
.search-bar button {
  background-color: white;
  color: white;
  border: 1px;
}

/* Style the search icon inside the button */
#searchicon {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

/* Styling for gap between serchfield and rest of icons */
.sidemenu {
  margin-left: 10px;
}

/* styling for video on frontpage */
#firstvideo {
  width: 100%;
  overflow: hidden;
}

#video {
  display: flex;
}

.sidemenu img {
  max-width: 4vw;
}

.navlist {
  display: flex;
  list-style: none;
  padding-left: 5%;
  padding-top: none;
}

.navlist li {
  margin-right: 10%;
}

.navlist li a {
  text-decoration: none;
  color: black;
}

#searchfield {
  position: absolute;
  top: 4%;
  left: 70%;
  transform: translate(-40%, 50%);
}

#main-logo {
  width: 40%;
  padding-top: 20px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: none;
}

#image-container {
  padding: none;
}

#image-container #flower-pic {
  padding-top: 50px;
  padding-right: 120px;
  max-width: 120px;
}

#image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#head-container {
  max-width: 100vw;
  display: flex;
  overflow-x: auto;
  margin: 0%;
}
.sidemenu {
  flex-direction: row;
  max-width: 5vw;
  padding: 5px;
}

.sidemenu-pic {
  width: 30px;
}

/* Latest news-header */
#headnews {
  font-size: x-large;
  padding-left: 1%;
  padding-top: 5%;
  font-weight: bold;
}

/* flexbox for horizontal scrolling on news */
#news-container {
  display: flex;
  overflow-x: auto;
}
.news-picture {
  flex-direction: row;
  width: fit-content;
}
.news-picture img {
  max-width: 30vw;
  height: 40vw;
  padding: 10px;
}

/* Latest news-big picture */
#main-news-pic {
  width: 100%;
}

/* flexbox for horizontal scrolling on categories */
#picture-container {
  display: flex;
  overflow-x: auto;
}
.picture {
  flex-direction: row;
  width: fit-content;
}
.picture img {
  max-width: 30vw;
  height: 40vw;
  padding: 10px;
}
.fig-cap-category {
  text-align: center;
  font-weight: bolder;
  color: brown;
  font-size: xx-large;
  text-decoration: none;
}

/* Accessories-page*/
#front-accessories-container {
  width: 100%;
  text-align: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-size: cover;
  position: relative;
}

#front-accessories {
  opacity: 65%;
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 16vw;
  left: 25vw;
  color: white;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.sortandfilter {
  display: flex;
}

#accesories-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.accessories-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: 1rem;
}

.accessories-pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

div {
  margin-bottom: 0;
}

.h1 {
  margin-bottom: 0%;
  text-align: left;
  padding-left: 1%;
}

/* sort and filter section and styling*/
.sortandfilter {
  display: flex;
  list-style: none;
  padding-left: 0%;
  padding-top: none;
  padding-left: 1%;
}

.sortandfilter li {
  margin-right: 10%;
}

.sortandfilter li a {
  text-decoration: none;
  color: black;
}

.category-overlay {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 50px;
  text-align: center;
}

.link-list {
  list-style: none;
}
.category {
  color: black;
  text-decoration: none;
  line-height: 2.4;
}

/*PRODUCT PAGE-INFO PAGE OF A PRODUCT*/

/* product page*/
  .text-above{
    position: absolute;
    
  }
   
.text-above {
  position: absolute;
}

.description-list li {
  display: inline-block;
  margin-left: 1rem;
}


/* SHOPPINGBAG PAGE*/

.cart-img {
  width: 20%;
  margin-right: 10px;
}

.cart-items {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
}

td {
  padding: 10px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: black;
  font-size: 12px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border: 1px solid black;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

button {
  align-self: flex-start;
  padding: 1rem 2rem;
  border-radius: 0px;
  border: none;
  background: #d9d9d9;
  margin-left: 86%;
  margin-top: 0%;
}


.inspo-container img {
  flex-direction: row;
  max-width: 30vw;
  height: 40vw;
  padding: 10px;
}

.product-container {
  float: right;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 50%;
  margin-right: 3rem;
}
.product-container img{
  max-width: 100%;
  height: auto;
  display: inline-block;

}
#product-description {
  color: black;
}

#materials-care {
  color: black;
  text-decoration: none;
}

#delivery-returns {
  color: black;
  text-decoration: none;
}

.ring-descriptions{
  border: 2px solid;
  display: inline-block;
}

/* styling for footer */
footer {
  background-color: #d9d9d9;

  color: black; 
  padding: 20px; 
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
}

/* align text */
.footer-column {
  flex: 1;
  text-align: center;
}

.footer-column p {
  margin: 5px 0;
}

.foot-text{
  text-align: left;
  line-height: 1.6;
}

.footer-container{
  padding-left: 100px;
  padding-top: 70px;
}

/* style font */
.foot-head{
font-weight: bolder;
text-align: left;
text-decoration: underline;
}

#foot{
  font-weight: bolder;
}